models/test_baseline/2011_09*
models/test_baseline_old
models/test_baseline/models/*
models/test_baseline/graphs/*
models/test_baseline/outputsmodels/
models/test_baseline.zip
models/test_baseline/outputs*
checkpoints/
data/imgs/
data/geonet/
data/raft_datasets/
downloader
kitti_data_download
.vscode/
